### MySQL_quiz_02 정답

#### 1번
    SELECT COUNT(DISTINCT(Continent)) as count
    FROM country

#### 2번
    SELECT Continent, COUNT(Continent) as count
    FROM country 
    GROUP BY continent
    ORDER BY count DESC

#### 3번
    SELECT CountryCode, SUM(Population) as Population
    FROM city
    GROUP BY CountryCode
    ORDER BY Population DESC

#### 4번
    SELECT Language, count(Language) as count
    FROM countrylanguage
    GROUP BY Language
    ORDER BY count DESC
    Limit 4,6

#### 5번
    SELECT Language, count(Language) as count
    FROM countrylanguage
    GROUP BY Language
    HAVING count >= 15
    ORDER BY count DESC

#### 6번
    SELECT Continent, SUM(SurfaceArea) as SurfaceArea
    FROM country
    GROUP BY Continent
    ORDER BY SurfaceArea DESC