### Quiz3

#### 1번 문제

    SELECT name, population
    FROM country
    WHERE population >
    (SELECT population
    FROM country
    WHERE name = 'Mexico')
    ORDER BY population DESC

#### 2번 문제

    SELECT country.name, count(country.name) AS count
    FROM city
    JOIN Country
    ON city.countrycode = country.code
    GROUP BY country.name
    ORDER BY count DESC
    LIMIT 10

#### 3번 문제

    SELECT countrylanguage.language, SUM(city.population) AS count
    FROM countrylanguage
    JOIN city
    ON countrylanguage.Countrycode = city.Countrycode
    GROUP BY countrylanguage.language
    ORDER BY count DESC
    LIMIT 10

#### 4번 문제

    SELECT city.name, country.name, city.population, country.population, round(city.population/country.population * 100, 2) AS percentage
    FROM city
    JOIN country
    ON city.countrycode = country.code
    HAVING percentage > 10 AND city.population > 5000000
    ORDER BY percentage DESC

#### 5번 문제

5-1

    SELECT code, name, ROUND((population/SurfaceArea), 0) AS density
    FROM country
    WHERE SurfaceARea > 10000 AND (population/SurfaceArea) >200
    ORDER BY density DESC

5-2

    SELECT country.name, count(country.name) AS language_count
    FROM
    (
    SELECT code, name, ROUND(population / surfacearea, 0) AS density
    FROM country 
    WHERE surfacearea > 10000 
    HAVING density > 200
    ORDER BY density DESC
    ) AS country
    JOIN countrylanguage AS cl
    on cl.countrycode = country.code
    GROUP BY name
    HAVING language_count > 5
    ORDER BY language_count DESC

: HAVING은 뽑아낸 결과에 조건을 주고 싶을 때

#### 6번 문제

    SELECT city.countrycode, city.name, city.population, country.name, city.language_count, city.languages
    FROM
    (
    SELECT cl.countrycode, city.name, city.population, cl.language_count, cl.languages
    FROM
    (SELECT countrycode, group_concat(language) AS languages, count(language) AS language_count
    FROM countrylanguage
    GROUP BY countrycode
    HAVING language_count <= 3) AS cl
    JOIN (SELECT * from city WHERE population > 3000000) AS city
    ON cl.countrycode = city.countrycode
    ) AS city
    JOIN country
    ON city.countrycode = country.code
    ORDER BY city.Population DESC