## Condition & Loop & Input & Output
- input
- print
- if, elif, else
- while
- for
- comprehension

### 1. 입력 (input)

In [1]:
# 문자형 입력
value = input("insert string : ")
print(type(value), value)

insert string : Hello world
<class 'str'> Hello world

In [2]:
# 숫자형 입력
value = int(input("insert number : "))
print(type(value), value)

insert number : 10
<class 'int'> 10

---

### 2. 출력 (print)

In [3]:
print("fast", "campus")

fast campus

In [4]:
print("fast" , end="\t")
print("campus")

fast	campus

In [5]:
a, b = 1234, "fastcampus"
print("number : {}, string: {}".format(a, b))

number : 1234, string: fastcampus

In [6]:
a, b = 1234, "fastcampus"
print("number : {num}, string: {string}".format(num=a, string=b))

number : 1234, string: fastcampus

---

### 3. 조건문 (if, elif, else)
1) 구조

```
if condition_1:
    code_1
elif condition_2:
    code_2
else: 
    code_3
```

2) 특징 : condition이 True이면 해당 조건안쪽의 코드가 실행

3) 내용

In [7]:
flag = True # flag를 True로 선언

if flag:
    print("if")
else:
    print("else")

if

In [8]:
flag = False

if flag:
    print("if")
else:
    print("else")

else

In [9]:
# 비교 연산자 사용
a, b = 10, 20
if a < b:
    print("a < b")
elif a == b:
    print("a == b")
else:
    print("a > b")

a < b

In [10]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and b < 10:
    print("code 1")
else:
    print("code 2")

code 2

In [11]:
# 논리 연산자 사용
a, b = 10, 20
if a < 20 and not(b < 10):
    print("code 1")
else:
    print("code 2")

code 1

In [12]:
# len(a) == 0 과 같이 사용하지 않음
a, b = [], [1,2]
if a:
    print("a")
if b:
    print("b")

b

In [13]:
a, result = 10, ""
if a % 2 == 0:
    result = "odd"
else:
    result = "even"
result

'odd'

In [14]:
a = 10
result = "odd" if a % 2 == 0 else "even"
result

'odd'

---

### 4. while

1) 구조
```
while condition:
    code
```

2) 특징 : condition이 True이면 while 안쪽의 code가 실행 후 다시 condition을 확인하여 True이면 code를 실행을 반복

3) 내용

In [15]:
# 조건에 맞기 전까지 실행
a = 3
while a > 0:
    print(a)
    a -= 1

3
2
1

4) Break - while문을 조건에 맞으면 멈춤

In [16]:
# break 적용
a = 3
while a > 0:
    print(a)
    if a == 2:
        break
    a -= 1

3
2

5) continue - break 이후에도 계속 실행

In [17]:
# continue 적용
a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    if data == 'q':
        break
    elif data % 2 == 0:
        continue
    print(data)

1
3

---

### 5. for

1) 구조
```
for value in list :
    code
```

2) 특징 : list에 있는 value를 순서대로 하나씩 꺼내서 code를 실행

In [18]:
ls = [0,1,2,3,4]
for value in ls: # ls에 있는 값들을 value값에 넣겠다
    print(value)

0
1
2
3
4

3) range - 구간 범위 설정

In [19]:
# range(end)
for value in range(5): 
    print(value)

0
1
2
3
4

In [20]:
# range(start:end)
for value in range(2,5):
    print(value)

2
3
4

In [21]:
# range(start:end:step)
for value in range(1,5,2):
    print(value)

1
3

In [22]:
for value in range(5,1,-1):
    print(value)

5
4
3
2

In [23]:
a = 0
for _ in range(5):
    a += 1
print(a)

5

4) zip - 2개의 리스트를 key, value 형태로 묶어주는 함수

In [24]:
# 2개의 리스트를 매핑시켜 딕셔너리 형태로 변경
subjects = ["korean", "english", "math", "science"]
points = [100, 80, 90, 60]

In [25]:
convert_dict = {}
for idx in range(len(subjects)):
    convert_dict[subjects[idx]] = points[idx]
convert_dict

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [26]:
converted_dict = {}
for subject, point in zip(subjects, points):
    print(subject, point)
    converted_dict[subject] = point
converted_dict

korean 100
english 80
math 90
science 60

{'english': 80, 'korean': 100, 'math': 90, 'science': 60}

In [27]:
tuple(zip(subjects, points)), dict(zip(subjects, points))

((('korean', 100), ('english', 80), ('math', 90), ('science', 60)),
 {'english': 80, 'korean': 100, 'math': 90, 'science': 60})

5) enumerate - 리스트 형태의 데이터를 index와 value 값을 동시에 사용할수 있는 함수

In [28]:
# list(enumerate(range(5,10)))
subjects = ["korean", "english", "math", "science"]
for idx, value in enumerate(subjects):
    print(idx, value)

0 korean
1 english
2 math
3 science

---

### 6. comprehention

1) 정의 : 반복문의 결과를 바로 리스트로 만들어 주는 방법

2) 내용

In [29]:
# method1. List
ls = []
ls = [1, 2, 3, 4, 5]
print(ls)

[1, 2, 3, 4, 5]

In [30]:
# method2. List append
ls = []
ls.append(1)
ls.append(2)
ls.append(3)
ls.append(4)
ls.append(5)
print(ls)

[1, 2, 3, 4, 5]

In [31]:
# method3. for문
ls = []
for num in range(1,6):
    ls.append(num)
print(ls)

[1, 2, 3, 4, 5]

In [32]:
# method4. comprehention문
ls = []
ls = [num for num in range(1,6)]
print(ls)

[1, 2, 3, 4, 5]

3) 특징

(1) comprehention는 for문을 사용한는 것보다 속도가 빠름

In [33]:
%%time
# compare excute time
ls = []
for num in range(1,10000):
    ls.append(num)

CPU times: user 1.81 ms, sys: 195 µs, total: 2 ms
Wall time: 2 ms

In [34]:
%%time
# comprehention 사용
ls = []
ls = [num for num in range(1,10000)]

CPU times: user 401 µs, sys: 12 µs, total: 413 µs
Wall time: 418 µs

(2) comprehention 은 삼항연산과 함께 사용

In [35]:
# 0 ~ 10까지 숫자를 출력하고 숫자뒤에 짝수인지 홀수인지 출력하는 코드를 작성
ls = []
ls = [str(num) + ":odd" if num % 2 == 0 else str(num) + ":even" for num in range(11)]
ls

['0:odd',
 '1:even',
 '2:odd',
 '3:even',
 '4:odd',
 '5:even',
 '6:odd',
 '7:even',
 '8:odd',
 '9:even',
 '10:odd']

---

### 연습문제

#### ``연습문제1`` 숫자를 입력 받아 짝수이면 odd, 홀수 이면 even을 출력하는 프로그램을 작성하세요.

In [36]:
num = int(input("insert number :"))

if num % 2 ==0:
    print("odd")
else:
    print("even")

insert number :10
odd

#### ``연습문제2`` for문을 이용하여 리스트에 있는 모든 숫자들을 더하는 코딩을 하시오
- numbers = [1,3,5,7,9]

In [92]:
numbers = [1,3,5,7,9]

def sum(number):
    total = 0
    for num in number:
        total += num
    return total

In [93]:
sum(numbers)

25

#### ``연습문제3``  comprehention과 삼항연산을 함께 사용하여 이름 리스트에서 lee씨 성을 가진사람은 성을 삭제하는 코드를 작성하세요.
- names = ["kim test", "park python", "lee data", "jung science", "lee school"] (입력)
- names = ["kim test", "park python", "data", "jung science", "school"] (결과)