## MySQL

- 실행
- 시스템 명령어
- 데이터베이스 명령어
- 테이블 명령어

---

### 1. 실행

    mysql -u root -p

---

### 2. 시스템 명령어

#### 2.1 명령어 리스트 확인

    help

#### 2.2 현재 상태 보기

    status

#### 2.3 접속 종료

    exit / quit

---

### 3. 데이터베이스 명령어

#### 3.1 생성 (CREATE)

    CREATE DATABASE 데이터베이스이름 ;

#### 3.2 목록 보기

    SHOW DATABASES ;

#### 3.3 접속

    USE 데이터베이스이름 ;

#### 3.4 접속 중 데이터베이스 확인 (SELECT)

    SELECT DATABASE() ;

#### 3.5 삭제 (DELETE)

    DROP DATABASE 데이터베이스이름 ;

---

### 4. 테이블 명령어

#### 4.1 생성 (CREATE)

    CREATE TABLE 테이블이름 (Colunm_1이름 Type_1, Colunm_2이름 Type_2 , ...) ;

#### 4.2 목록 보기 (테이블 목록 확인)

    SHOW TABLES ;

#### 4.3 구조 확인 (Field, Type 등 세부내용 보여줌)

    DESC 테이블이름 ;  /  DESCRIBE 테이블이름 ;  /  EXPLAIN 테이블이름 ;

#### 4.4 데이터 추가 (INSERT)

    INSERT INTO 테이블이름 (Colunm_1, Colunm_2)
    VALUES (값1, 값2) ;

#### 4.5 추가 데이터 확인 (SELECT)

    SELECT * 
    FROM 테이블이름 ; (테이블에 있는 모든 열을 확인)

#### 4.6 삭제 (DELETE)

    DROP TABLE 테이블이름 ;